<!Doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="style.css">

    <title>How to PC</title>
  </head>
  <body>
    
    <!-- Navbar -->
    <nav class="navbar navbar-dark bg-transparent navbar-expand-md fixed-top my-3" id="mainNavbar">
        <div class="container">
            <a href="" class="navbar-brand"><i class="fas fa-desktop mr-1"></i>HowToPC</a>
            <button class="navbar-toggler"  data-toggle="collapse" data-target="#nav-links" aria-label="NavBar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="nav-links">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-items px-2"><a href="#" class="nav-link">HOME</a></li>
                    <li class="nav-items px-2"><a href="#" class="nav-link">ABOUT</a></li>
                    <li class="nav-items px-2"><a href="#" class="nav-link">CONTACT</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Main Header -->
    <section class="jumbotron jumbotron-fluid  d-flex text-white text-center align-items-center justify-content-center p-0" id="mainHeader">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="container" >
                    <h1>Another Nerdy Website</h1>
                    <p class="lead text-size-sm">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Labore debitis inventore amet, officiis saepe ipsa adipisci provident mollitia atque aspernatur, minima esse iure alias cupiditate iusto nihil optio est hic?</p>
                    <hr>
                    <a href="" class="btn btn-outline-dark">Read More</a>
                </div>
            </div>
        </div>
    </section>

    <!-- Main Content -->
    <main class="container">
        <h2 class="mb-5">Languages: </h2>
        <div class="row">
            <div class="col-md-6 col-lg-4">
                <div class="card text-center mb-5">
                    <i class="fab fa-html5 fa-7x"></i>
                    <div class="card-body">
                        <h5>HTML</h5>
                        <p class="lead text-size-sm">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis, ducimus? Praesentium doloremque dolor dolores quas consequuntur cum eum ducimus commodi nam mollitia tempora itaque, tempore placeat voluptatem neque nisi consequatur.</p>
                        <a href="" class="btn btn-outline-light">Read More</a>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-4">
                <div class="card text-center mb-5">
                    <i class="fab fa-css3-alt fa-7x"></i>
                    <div class="card-body">
                        <h5>CSS</h5>
                        <p class="lead text-size-sm">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis, ducimus? Praesentium doloremque dolor dolores quas consequuntur cum eum ducimus commodi nam mollitia tempora itaque, tempore placeat voluptatem neque nisi consequatur.</p>
                        <a href="" class="btn btn-outline-light">Read More</a>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-4">
                <div class="card text-center mb-5">
                    <i class="fab fa-python fa-7x"></i>
                    <div class="card-body">
                        <h5>C++</h5>
                        <p class="lead text-size-sm">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis, ducimus? Praesentium doloremque dolor dolores quas consequuntur cum eum ducimus commodi nam mollitia tempora itaque, tempore placeat voluptatem neque nisi consequatur.</p>
                        <a href="" class="btn btn-outline-light">Read More</a>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-4">
                <div class="card text-center mb-5">
                    <i class="fab fa-js fa-7x"></i>
                    <div class="card-body">
                        <h5>JavaScript</h5>
                        <p class="lead text-size-sm">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis, ducimus? Praesentium doloremque dolor dolores quas consequuntur cum eum ducimus commodi nam mollitia tempora itaque, tempore placeat voluptatem neque nisi consequatur.</p>
                        <a href="" class="btn btn-outline-light">Read More</a>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-4">
                <div class="card text-center mb-5">
                    <i class="fab fa-python fa-7x"></i>
                    <div class="card-body">
                        <h5>Python</h5>
                        <p class="lead text-size-sm">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis, ducimus? Praesentium doloremque dolor dolores quas consequuntur cum eum ducimus commodi nam mollitia tempora itaque, tempore placeat voluptatem neque nisi consequatur.</p>
                        <a href="" class="btn btn-outline-light">Read More</a>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-4">
                <div class="card text-center mb-5">
                    <i class="fab fa-java fa-7x"></i>
                    <div class="card-body">
                        <h5>Java</h5>
                        <p class="lead text-size-sm">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis, ducimus? Praesentium doloremque dolor dolores quas consequuntur cum eum ducimus commodi nam mollitia tempora itaque, tempore placeat voluptatem neque nisi consequatur.</p>
                        <a href="" class="btn btn-outline-light">Read More</a>
                    </div>
                </div>
            </div>
        </div>
    </main>    

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <!-- FontAwesome -->

    <script>
        (function () {
            (document).scroll(function () {
                var nav = ("#mainNavbar");
                nav.toggleClass("scrolled", (this).scrollTop() > nav.height());
            });
        });
    </script>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/d374ad7d9f.js" crossorigin="anonymous"></script>
</body>
</html>